.listen {
    position: absolute;
    right: 0;
    min-height: 100vh;
    width: 82vw;
}

.listen > h2 {
    font-size: 3rem;
    margin: 1vw 3vw;
}

.song-info {
    width: 56vw;
    height: 30vh;
    display: flex;
    align-items: center;
}

.song-info > h2 {
    rotate: 270deg;
    margin: -1rem;
    font-size: 2rem;
    color: rgb(153 51 51);
}

.song-info > img {
    height: 30vh;
    width: 30vh;
    margin-right: 1vw;
    border-radius: 10px;
}

.song-details {
    align-self: flex-end;
    max-width: 27vw;
}

.song-details > h3 {
    font-size: 3rem;
    margin: 0;
}

.song-details > h4 {
    font-size: 2rem;
    margin: 0;
    color: lightgray;
}

.song-details > h5 {
    font-size: 1.8rem;
    margin: 0;
    color: gray;
}

.radar-graph {
    background: rgba(0, 0, 0, 0.655);
    position: absolute;
    right: 0;
    top: 0;
    height: 39vh;
    width: 28vw;
    margin: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.queue,
.breakdown {
    border: rgb(54, 54, 54) solid;
    margin: 1vw;
    border-radius: 10px;
    background: black;
    height: 57vh;
}

.queue {
    width: 30vw;
    overflow: hidden;
}

.queue > h3 {
    font-size: 2rem;
    margin: 1rem; 
}

.breakdown {
    position: absolute;
    right: 0;
    top: 39.5vh;
    width: 48vw;
    display: flex;
    justify-content: flex-start;
}

.artist-breakdown {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.artist-details > h3 {
    font-size: 2rem;
    margin: 0.5rem;
}

.artist-breakdown > img {
    width: 10vw;
    height: 10vw;
    margin: 1rem;
    border-radius: 100%;
    border: 3px solid white;
}

.artist-details > p {
    margin: 0.5rem;
}

.artist-details > ul {
    margin: 0 18px;
    padding-left: 10px;
}

.track-breakdown {
    margin: 0 1rem;
    overflow: scroll;
}

.track-breakdown > .attributes > .attribute > h4 {
    margin: 0;
}

.track-breakdown > .attributes > .attribute > p {
    font-size: 0.9rem;
}