.track {
    display: flex;
    justify-content: flex-start;
    margin: 6px 0;
}

.track > img {
    width: 4rem;
    height: 4rem;
}

.track-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: 8px;
    overflow: hidden;
}

.track-info > h4,
.track-info > p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.track-info > h4 {
    font-size: 1.4rem;
}

.track > .attribute {
    margin-left: auto;
    margin-right: 7px;
}