.playlists-page {
    position: absolute;
    width: 82vw;
    right: 0;
    min-height: 100vh;
}

.playlist-list {
    position: absolute;
    border: solid rgb(55, 55, 55);
    top: 16vh;
    margin: 3vh;
    width: 48%;
    height: 80vh;
    background: black;
    border-radius: 10px;
    overflow: scroll;
}

.attributeBar {
    position: absolute;
    top: 5vh;
    right: 40vw;
}


.analysisPlaceholder {
    position: absolute;
    right: 5vw;
    top: 5vh;
    font-size: 50px;
}