.home {
    min-height: 110vh;
    background: none;
}

.background-logo {
    z-index: 0;
    position: absolute;
    height: 150vh;
    left: 20vw;
    top: 5vw;
    overflow: none;
}

.header {
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    height: 51vh;
    width: 82vw;
    right: 0;
}

@media (prefers-reduced-motion: no-preference) {
    .background-logo {
        animation: App-logo-float infinite 240s linear;
        transform-origin: center;
    }
}