.home {
    min-height: 100vh;
    position: absolute;
    right: 0;
    background: none;
    width: 82vw;
}

.header {
    z-index: 1;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    height: 51vh;
    width: 82vw;
    right: 0;
}

.recently-played,
.listening-mood {
    border: rgb(54, 54, 54) solid;
    position: absolute;
    top: 48vh;
    margin: 2vh;
    width: 48%;
    min-height: 50vh;
    border-radius: 10px;
    background: black;
}

.recently-played {
    height: 50vh;
    overflow: hidden;
}

.recently-played h3 {
    font-size: 32px;
    margin: 2px;
}

.listening-mood {
    right: 0;
    height: 28vh;
    display: flex;
    justify-content: space-between;
}

.listening-mood .mood-title h3 {
    position: absolute;
    left: 5vh;
    bottom: -4vh;
    transform: rotate(-90deg) scaleY(1.5);
    display: inline-block;
    transform-origin: left;
    white-space: nowrap;
    font-size: 5vh;
}

.listening-mood .mood-title {
    display: flex;
    align-items: center;
    width: 15%;
}

.mood-title hr {
    position: absolute;
    left: 15%;
    height: 100%;
}

.moodRadarChart {
    position: absolute;
    left: 7vw;
    height: 85%;
    width: 85%;
}

.moodRadarChart p {
    position: absolute;
    bottom: -7vh;
    left: -0.5vw;
    margin: 0;
    width: 95%;
    font-size: 14px;
}