.top {
    width: 30vw;
    height: 20vw;
    background: none;
    border-radius: 10px;
}

.top-subject > h3 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
}

.top-items {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.top-item {
    border-radius: 100%;
    height: 12vw;
    width: 12vw;
    margin: 1vh;
}

.top-item1 {
    z-index: 3;
    transition: transform 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
}

.top-item1:hover {
    width: 14vw;
    height: 14vw;
    transform: translate(-2vw, -2vw);
}

.top-item2 {
    z-index: 2;
    position: absolute;
    transition: transform 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
}

.top-item3 {
    z-index: 1;
    transition: transform 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;
}

.top-item2:hover,
.top-item3:hover {
    width: 14vw;
    height: 14vw;
    transform: translate(3vw, -3vw);
}

.rankings {
    height: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    margin-top: -2vw;
    padding: 0;
}

.top1 {
    align-self: flex-start;
}

.top3 {
    align-self: flex-end;
}