.player {
    border-top: solid 1px white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    height: 54vh;
    width: 18vw;
    bottom: 0;
    background: black;
}

.player > .loading {
    text-align: center;
    margin: 2rem;
}

.track-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.track-container > .playing-from {
    display: flex;
    align-items: center;
    margin: 0;
    height: 2rem;
}

.track-container > img {
    width: 16vw;
    max-width: 280px;
    border-radius: 10px;
}

.track-container > h4 {
    font-size: 1.2rem;
}

.track-container > h4,
.track-container > p {
    margin: 0 4px;
    text-align: center;
}

.track-container > .artist {
    font-size: 0.9rem;
}

.album {
    font-size: 0.8rem;
}

.timer {
    width: 14vw;
}

.pause-play {
    display: flex;
    justify-content: center;
}

.volume {
    display: flex;
    align-items: center;
    width: 17vw;
    margin-bottom: 1.5rem;
}

.volumeIcon {
    margin: 0 4px;
}