.search-playlist-analysis {
    border: rgb(54, 54, 54) solid;
    height: 43vh;
    border-radius: 10px;
    background: black;
    overflow: hidden;
    margin-top: 8px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}

.search-graph {
    border: red solid 1px;
    width: 50%;
}